<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zadatak 4</title>
</head>
<body>
    <h1>Detaljne informacije za grad <%=grad%></h1>

    <ul>
        <% for(const podatak of podaci) { %>
            <li>
                Dana <%=podatak.datum.getDate() %>-<%=podatak.datum.getMonth()+1%>-<%=podatak.datum.getFullYear()%> izmerena je temperatura od <%=podatak.temperatura%> Celzijusa
            </li>
        <%}%>
    </ul>
</body>
</html>